name: release

on:
    - workflow_dispatch:
    - push:
          tags:
              - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
            - run: npm ci
            - name: Publish to Open VSX Registry
              uses: HaaLeo/publish-vscode-extension@v2
              with:
                  pat: ${{ secrets.OPEN_VSX_TOKEN }}
            - name: Publish to Visual Studio Marketplace
              uses: HaaLeo/publish-vscode-extension@v2
              with:
                  pat: ${{ secrets.VSCODE_PAT }}
                  registryUrl: https://marketplace.visualstudio.com
